<div class="mt-10 mx-auto text-center p-10 bg-gray-50 w-1/3 flex flex-col justify-center rounded-xl">
  <h1 class="text-3xl font-semibold text-pacific-600">Corey Gibson</h1>
  <%= image_tag @detail.image%>
  <div class="pl-20 text-carrot-500 font-semibold text-xl">
    A hard-working developer that takes pride in high-quality code built with an Agile workflow. I strive to utilize best practices such as TDD/BDD. Coming from eight-plus years in EMS, I have a strong working knowledge of decision making, problem-solving in high-stress environments, and working as a team to accomplish a task or goal.
  </div>
</div>
<%= render partial: 'main/shore'%>
